.menu {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.button__defaultSize {
    width: 128px;
    height: 36px;
    border-radius: 2px;
}

.buttonCancel {
    background: #d3d3d3;
    margin-right: 10px;
}

.buttonSave {
    background: #ffae33;
}

.buttonAdd {
    float: right;
    background: rgba(0, 0, 0, 0.15);
    font-size: 15px;
    padding: 7px;
    margin: 8px;
    border-radius: 4px;
}

.buttonAddPlus {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.popup {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 32px 28px;
}

.popup__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.form__field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.field__name {
    width: 150px;
    font-size: 18px;
}

.field__input {
    width: 320px;
    padding: 5px;
    border: solid darkgray 1px;
    border-radius: 5px;
    box-sizing: content-box;
}

.field__select {
    background: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

.form__buttons {
    text-align: right;
    margin-top: 30px;
}

.table {
    padding: 30px 15px;
}

.box {
    display: flex;
}

.connectionHeader {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.connectionLine {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.connectionLine:hover {
    background: rgba(0, 0, 0, 0.04);
}

.selectedConnectionLine {
    background: rgba(2, 123, 243, 0.08) !important;
}

.connectionElement {
    flex-basis: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.connectionElement:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}
