.errorMessage {
    margin: 20px;
}

.loadingAnimation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings {
    margin: 10px 20px;
}

.autoloading__title,
.hiddenColumns__title,
.currentQuery__title,
.limit__title,
.clusters__title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 5px;
}

.autoloading__button {
    cursor: pointer;
    padding-left: 5px;
}

.autoloading__number {
    width: 65px;
    margin: 0 5px;
}

.autoloading,
.hiddenColumns,
.currentQuery {
    margin-bottom: 20px;
}

.hiddenColumns__ceil {
    padding: 5px;
}

.hiddenColumns__label {
    cursor: pointer;
}

.button {
    /* delete styles */
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;

    width: 128px;
    height: 36px;
    border-radius: 2px;
    background: #d3d3d3;
}

.dbSettings__button,
.dbSettings__limit,
.dbSettings__clusters {
    margin-bottom: 20px;
}

.limit__input {
    width: 100px;
}

.cluster {
    display: flex;
    margin-bottom: 12px;
}

.claster__input {
    margin-right: 12px;
}

.dbSettings__button,
.limit__input,
.currentQuery__body {
    margin-left: 11px;
}

.clusters__radiobuttons {
    margin-left: 6px;
}

.currentQuery__body {
    white-space: pre-wrap;
    background: #fafafa;
    padding: 8px;
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
}
