.container {
    display: flex;
    align-items: center;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.square {
    min-width: 16px;
    min-height: 16px;
    margin-right: 4px;
    border-radius: 4px;
}

.running .square {
    background: #3bc935;
}

.unachievable .square {
    background: #f00;
}

.waiting .square {
    background: #ff0;
}

